<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
    <style>
        
        #faqs {
            padding: 15px 5px;
            background: #fff;
        }

        #faqs > h1 {
            background: #11144C;
            color: #fff;
            text-align: center;
            margin: 15px 0 30px;

            padding: 5px 0;
        }


        .btn-primary{
            background: #fff;
            color: #11144C;
            text-align: center;
            margin: 15px 0 30px;
            padding: 5px 0;
            border: 2px solid #11144C;
            border-radius: 50px;
            font-size: 18px;
        }
        .container button.btn-primary:hover {
            background: #fff;
            color: #11144C;
            border: 2px solid #11144C;
            
        }


    </style>
</head>

<body>
    {{> header }}

    <div id="faqs" class="container">

        <h1>FAQS</h1>
        {{!-- WRITE ALL YOUR FAQS CODE WITHIN --}}
        
        <div class="container mt-3">
  <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo">Why use DevAlert?</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>

<div class="container mt-3">
  <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo">How do i apply?</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>

<div class="container mt-3">
  <button type="button" class="btn btn-primary btn-block btn-block" data-toggle="collapse" data-target="#demo">Why can't i register?</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>

<div class="container mt-3">
  <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo">How can i get an agent?</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>

<div class="container mt-3">
  <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo">How can i stop my subscription?</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>

<div class="container mt-3">
  <button type="button" class="btn btn-primary btn-block" data-toggle="collapse" data-target="#demo">Why is paystack not working?</button>
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>

        {{!-- WRITE ALL YOUR FAQS CODE WITHIN --}}

 

    </div>

    {{> footer}}
</body>